.componente-principal-container {
    width:100%;
    border-radius: 5px;
    margin: auto;
    min-height:900px;
    border: 2px solid orange ;
      
       
}

.titulo-empresa{
    background-color: rgb(255, 196, 0);
    color: black;
    font-style: italic;
    height: 50px;

    
    
    position: relative;
    left: 0px;
    top: -22px; 
    

}